h2 {
    padding: 100px 0 0 100px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px 100px 100px 100px;
  }
  
  .form-full-width {
    width: 100%;
  }
  

  .example-card {
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  button {
    margin-bottom: 20px;
  }
  